
.generic-list-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.generic-list-card {
  width: 100%;
  max-width: 1200px;
  background: #ffffff;
  border-radius: 12px;
  padding: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 22px rgba(6, 5, 5, 0.1);
}
.generic-list-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
  gap: 1rem;
}
.toolbar-search {
  flex: 1;
  position: relative;
}

.toolbar-search input {
  width: 100%;
  padding-left: 2rem; 
}

.toolbar-search .pi-search {
  position: absolute;
  left: 0.65rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #555;
}

.toolbar-add-btn {
  height: 2.75rem;
  padding: 0 1.3rem;
}

@media (max-width: 960px) {
  .generic-list-toolbar {
    flex-direction: column;
    align-items: stretch;
  }
 
   .generic-list-toolbar {
    flex-direction: column;
    align-items: stretch;
  }

  .toolbar-add-btn {
    width: 100%;
  }
  .toolbar-search{
     width: 100%;
  }
  
}