.page-title {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.9rem;
  font-weight: 700;
  color: #27bb8a;
}
.list-page-container {
    max-width: 1200px; 
    margin-left: auto;
    margin-right: auto;
    padding: 1rem 1rem 0 1rem;
}
